:root {
  --background-color: #fb8c00;
  --default-font-family: 'Ubuntu', sans-serif;
  --title-font-family: 'Montserrat-black', sans-serif;
}

body {
  font-family: var(--default-font-family);
}

#title {
  background-color: var(--background-color);
  font-family: var(--title-font-family);
}

#title .navbar-brand,
#title .nav-link {
  color: black;
}

#title .catchPhrase h1 {
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.5;
}

.container-fluid {
  padding: 3% 15%;
}
