:root {
  --title-background-color: black;
  --default-font-family: 'Rowdies', cursive;
  --white-color: white;
  --black-color: black;
}

body {
  font-family: var(--default-font-family);
}

.container-fluid {
  padding: 3% 15%;
}

#title {
  background-color: var(--title-background-color);
  color: var(--white-color);
}

@media screen and (max-width: 992px) {
  #title .row {
    justify-content: center;
  }
}

/* Navigation Bar */

.navbar {
  padding: 0px 0px 4.5rem;
}

.navbar-brand {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 3em;
}

.nav-item {
  padding: 0px 18px;
}

.nav-link {
  font-size: 1.5rem;
  font-weight: 100;
  color: white !important;
}

.nav-link:hover {
  color: #ee98fb !important;
}

/* Title */
.title-row {
  justify-content: center;
}

.catch-praise-and-btns {
  text-align: center;
}

h1 {
  font-size: 3em;
}

.download-button {
  font-size: 1em;
  margin: 5% 3% 5% 0;
}

/* Title Image */

.title-image {
  max-width: 350px;
  min-height: 350px;
  max-height: 350px;
  position: relative;
  overflow: hidden;
}

.title-image img {
  transform: rotate(25deg);
  position: absolute;
  width: 200px;
  top: 19px;
}

/* Features */

.features-box i {
  font-size: 5em;
  margin-bottom: 15px;
  color: #ef8172;
}

.features-box i:hover {
  color: #ff4c68;
}
.features-box {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  text-align: center;
  padding: 150px 0px 150px 0;
}

/* Testmonial Section */

#testimonials {
  padding: 7% 15%;
  background-color: black;
  color: white;
  text-align: center;
}

.testmonials-interview {
  font-size: 4em;
  margin-bottom: 30px;
}

.testmonials-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
